.main {
  padding: 2.5em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a34a28;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a34a28;
}

::selection {
  background-color: #a34a28;
}

.EmptyImage {
  align-self: center;
}
